body {
    background-image: linear-gradient(180deg,rgb(0, 0, 0),rgb(9, 39, 53));
    color: white;
}


.header-img {
    position: relative;
    text-align: center;
    width: 1200px;
}

/* .comment-header {
    margin-left: 140px;
    margin-right: 100px;
}

.comments {
    margin-left: 140px;
    margin-right: 140px;
}

.dropdown-title {
    margin-left: 140px;
}

.dropdown {
    margin-left: 160px;
} */

.header-text {
    font-size: 35px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}